/* fredoka-one-regular - latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fredoka-one-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/fredoka-one-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fredoka-one-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fredoka-one-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/fredoka-one-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fredoka-one-v8-latin-regular.svg#FredokaOne') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Tahu';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Tahu! Regular'),
    	url('../fonts/Tahu!.woff') format('woff');
}

/* fredoka-one-regular - latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/great-vibes-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/great-vibes-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/great-vibes-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/great-vibes-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/great-vibes-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
body{
	margin: 0;
	padding: 0;
	font-family: Montserrat,sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #9c9c9c;
    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;
}
body::-webkit-scrollbar{
    width:3px;
}
body::-webkit-scrollbar-track{
    background-color: #e4e4e4;
    border-radius: 100px;
}
body::-webkit-scrollbar-thumb{
    background-color: #b4b4b4;
    border-radius: 100px;
}
br{
	font-size: 12px !important;
}
.container-undangan{
	/* margin-bottom: 3rem; */
}
* p{
	line-height: 24px;
    padding: 20px 35px;
    font-family: Montserrat;
    font-weight: 400;
    color: #333;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #3d3d3d;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
.mr-3{
    margin-right: 1rem!important;
}
.vue-map-container {
    position: relative;
}
.vue-map-container .vue-map {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}
.vue-map-hidden {
    display: none;
}
.tanggal{
    position: relative;
    width: fit-content;
    text-align: center;
    font-size:12px;
    text-transform: uppercase;
    background: transparent;
    font-weight: 600;
    font-family: Montserrat;
    text-align: center;
    letter-spacing: 3.12px;
    margin: 15% auto 5%;
    margin-top: 7px;
}
.full-img{
    -webkit-animation: landing 2s linear;
    animation: landing 2s linear;
}
.kiri_atas{
    -webkit-animation: kiriatas 4s linear;
    animation: kiriatas 4s linear;
}
.tengah_atas{
    -webkit-animation: tengahatas 4s linear;
    animation: tengahatas 4s linear;
}
.kanan_atas{
    -webkit-animation: kananatas 4s linear;
    animation: kananatas 4s linear;
}
.tengah_kanan{
    -webkit-animation: tengahkanan 4s linear;
    animation: tengahkanan 4s linear;
}
.kanan_bawah{
    -webkit-animation: kananbawah 4s linear;
    animation: kananbawah 4s linear;
}
.tengah_bawah{
    -webkit-animation: tengahbawah 4s linear;
    animation: tengahbawah 4s linear;
}
.kiri_bawah{
    -webkit-animation: kiribawah 4s linear;
    animation: kiribawah 4s linear;
}
.tengah_kiri{
    -webkit-animation: tengahkiri 4s linear;
    animation: tengahkiri 4s linear;
}
/* canvas {
  display: fixed !important;
} */

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  /* background-color: blue; */
}
@-webkit-keyframes landing {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(0, 0);
            transform: scale(0) translate(0, 0);
    }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.7) translate(0, 10px);
            transform: scale(0.7) translate(0, 10px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}
@keyframes landing {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(0, 0);
            transform: scale(0) translate(0, 0);
    }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.7) translate(0, 10px);
            transform: scale(0.7) translate(0, 10px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@-webkit-keyframes kiriatas {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, -500px);
            transform: scale(0) translate(-500px, -500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, -500px);
            transform: scale(0) translate(-500px, -500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@keyframes kiriatas {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, -500px);
            transform: scale(0) translate(-500px, -500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, -500px);
            transform: scale(0) translate(-500px, -500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@-webkit-keyframes tengahatas {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(0, -500px);
            transform: scale(0) translate(0, -500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(0, -500px);
            transform: scale(0) translate(0, -500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@keyframes tengahatas {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(0, -500px);
            transform: scale(0) translate(0, -500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(0, -500px);
            transform: scale(0) translate(0, -500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@-webkit-keyframes kananatas {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, -500px);
            transform: scale(0) translate(500px, -500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, -500px);
            transform: scale(0) translate(500px, -500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@keyframes kananatas {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, -500px);
            transform: scale(0) translate(500px, -500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, -500px);
            transform: scale(0) translate(500px, -500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@-webkit-keyframes tengahkanan {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, 0);
            transform: scale(0) translate(500px, 0);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, 0);
            transform: scale(0) translate(500px, 0);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@keyframes tengahkanan {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, 0);
            transform: scale(0) translate(500px, 0);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, 0);
            transform: scale(0) translate(500px, 0);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@-webkit-keyframes kananbawah {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, 500px);
            transform: scale(0) translate(500px, 500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, 500px);
            transform: scale(0) translate(500px, 500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@keyframes kananbawah {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, 500px);
            transform: scale(0) translate(500px, 500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(500px, 500px);
            transform: scale(0) translate(500px, 500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@-webkit-keyframes tengahbawah {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(0, 500px);
            transform: scale(0) translate(0, 500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(0, 500px);
            transform: scale(0) translate(0, 500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@keyframes tengahbawah {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(0, 500px);
            transform: scale(0) translate(0, 500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(0, 500px);
            transform: scale(0) translate(0, 500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@-webkit-keyframes kiribawah {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, 500px);
            transform: scale(0) translate(-500px, 500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, 500px);
            transform: scale(0) translate(-500px, 500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@keyframes kiribawah {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, 500px);
            transform: scale(0) translate(-500px, 500px);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, 500px);
            transform: scale(0) translate(-500px, 500px);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@-webkit-keyframes tengahkiri {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, 0);
            transform: scale(0) translate(-500px, 0);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, 0);
            transform: scale(0) translate(-500px, 0);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@keyframes tengahkiri {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, 0);
            transform: scale(0) translate(-500px, 0);
    }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translate(-500px, 0);
            transform: scale(0) translate(-500px, 0);
    }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    }
}

@media only screen and (max-width: 600px){
	.leftPanel{
		position: relative;
		width: 100%;
		/*height: 180vw;*/
		height: 100%;
		background: transparent;
	}
	.full-img{
		align-items: center;
	    justify-content: center;
	    display: flex;
	    background-color: rgb(21, 189, 254);
	    height: 100%;
	    background-position: bottom;
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.wrapper{
		width: 100vw;
	    margin: 0 auto;
	    text-align: center;
	}
	.title-wedding{
		font-family: Montserrat;
	    color: #fff;
	    font-size: 12px;
	    text-align: center;
	    letter-spacing: 3.12px;
	    text-transform: uppercase;
	}
	.title-name{
		font-size: 35pt;
	    font-weight: 400;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: 1.29;
	    letter-spacing: normal;
	    text-align: center;
	    text-transform: capitalize;
	}
    .title-name span:nth-child(1),.title-name span:nth-child(5){
        font-size: 4rem;
    }
    .title-name span:nth-child(3){
        font-size: 2.5rem;
    }
	.img{
		margin: 8% 2%;
		max-width: 310px;
	}
	.img img{
		-o-object-fit: cover;
	    object-fit: cover;
	    height: 100%;
	    position: relative;
	    width: 90%;
		height: auto;
	}

	.rightPanel{
		background: #fff;
	    padding: 0;
	    color: #333;
	    margin-left: auto;
	    text-align: center;
	    position: relative;
        width: 100%;
	}
	p{
		margin-bottom: 0;
		margin-top: 0;
	}
	.title{
		margin: 20px 0;
	}
	.couple{
	    /*font-size: 36px;*/
	    font-size: 12px;
	    line-height: 1.1;
	    font-weight: bolder;
	    letter-spacing: 0;
	    padding: 2px;
	}
	.couple h1, .gallery h1, .google-maps h1, .health-protocol h1, .invitation h1, .story h1, .testimonials h1, .timer h1, .title h1, .wedding-ceremony h1, .wedding-reception h1 {
	    font-size: 36px;
	    line-height: 1.1;
	    font-weight: bolder;
	    letter-spacing: 0;
	    padding: 2px;
	}

}
@media only screen and (min-width: 600px){
	.leftPanel, .rightPanel {
	    position: relative;
	    width: 100%;
	}
	.full-img {
	    height: 100%;
	    background-position: 50%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    -o-object-fit: cover;
	    object-fit: cover;
	    padding-top: 30px;
	}
    .wrapper{
		width: 100vw;
	    margin: 0 auto;
	    text-align: center;
	}
	.leftPanel .wrapper {
		padding-top: 5%;
	    width: 95%;
	    margin: 0 auto;
	    text-align: center;
	}
	.title-wedding {
	    font-family: Montserrat;
	    font-size: 12px;
	    text-align: center;
	    letter-spacing: 3.12px;
	    text-transform: uppercase;
	}
	.title-name {
	    font-size: 35pt;
	    font-weight: 400;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: 1.29;
	    letter-spacing: normal;
	    text-align: center;
	}
    .title-name span:nth-child(1),.title-name span:nth-child(5){
        font-size: 5rem;
    }
    .title-name span:nth-child(3){
        font-size: 3rem;
    }
	.img {
	    width: 95%;
	    margin: 0 auto;
	    text-align: center;
	}
	.rightPanel {
	    background: #fff;
	    padding: 10px;
	    color: #333;
	    margin-left: auto;
	    text-align: center;
	}
}

@media only screen and (min-width: 768px){
	.leftPanel .wrapper {
	    width: 95%;
	    margin: 0 auto;
	    text-align: center;
	}
	.title-name {
	    font-size: 35pt;
	    font-weight: 400;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: 1.29;
	    letter-spacing: normal;
	    text-align: center;
	}
	.img {
	    width: 95%;
	    margin: 0 auto;
	    text-align: center;
	}
}

@media only screen and (min-width: 992px){
	.leftPanel {
	    background: #fff;
	    overflow: hidden;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    position: fixed;
	    padding: 0;
	    width: 62%;
	    height: 100%;
	}
	.full-img {
	    height: 100%;
	    background-position: 50%;
	    background-repeat: no-repeat;
	    display: flex;
	    background-size: cover;
	    text-align: center;
	    background: #000;
	}
	.leftPanel .wrapper {
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	.title-wedding {
	    font-family: Montserrat;
	    color: #fff;
	    font-size: 12px;
	    text-align: center;
	    letter-spacing: 3.12px;
	    text-transform: uppercase;
	}
	.title-name {
	    font-size: 50pt;
	    font-weight: 400;
	    font-stretch: normal;
	    font-style: normal;
	    line-height: 1.29;
	    letter-spacing: normal;
	    text-align: center;
	}
	.img {
	    width: 100%;
	    margin: 0 auto;
	    text-align: center;
	}
	.full-img img {
	    -o-object-fit: cover;
	    object-fit: cover;
	}
	.img img {
	    height: 90%;
	    width: auto;
	}
	.tanggal {
	    font-family: Montserrat;
	    font-size: 12px;
	    text-align: center;
	    letter-spacing: 3.12px;
	    text-transform: uppercase;
	    margin: 15% auto 5%;
	    font-weight: 600;
	}
	.rightPanel {
	    background: #fff;
	    position: static;
	    padding: 10px;
	    color: #333;
	    width: 39%;
	    margin-left: auto;
	    text-align: center;
	}
}

p{
	margin-top: 0;
	margin-bottom: 0;
}
.couple, .gallery, .google-maps, .health-protocol, .invitation, .story, .testimonials, .title, .wedding-ceremony, .wedding-reception {
    margin: 20px 0;
}
.wrapper{
	position: relative;
	z-index: 3;
}
.img-wrapper {
    width: 300px;
    text-align: center;
    box-shadow: -5px 2px 29px -10px rgb(0 0 0 / 75%);
    margin: 25px auto;
}
img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
.couple-detail,.standar {
	line-height: 24px;
    font-family: Montserrat;
    font-weight: 400;
    color: #333;
    font-size: 14px;
    padding: 0 35px;
}
.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.standar {
    padding: 5px 35px;
}
.fleks-ext {
    align-items: center;
}
.fleks-ext, .fleks-ext-2 {
    display: flex;
    justify-content: center;
}
.btn-testimoni {
    color: #fff;
    font-size: 9pt;
    font-weight: 700;
    margin-bottom: 10px;
    background: #6bc50f;
    border: 1px solid #6bc50f;
}
.testi-wrapper {
    padding: 0 20px 20px;
    height: 400px;
    overflow-y: scroll;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
}
.testi-list {
    padding: 20px;
    height: auto;
    width: 100%;
    margin: 16px auto;
    text-align: left;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 2px 1px 3px 2px rgb(138 138 138 / 15%);
}
.testi-list {
    padding: 20px;
    height: auto;
    width: 100%;
    margin: 16px auto;
    text-align: left;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 2px 1px 3px 2px rgb(138 138 138 / 15%);
}
.timers {
    width: 100px;
    padding: 20px;
    display: inline-block;
}
.timers {
    width: 80px;
}
.wrap-fixed {
    position: fixed;
    bottom: 77px;
    right: 0;
    margin: 7px;
    z-index: 99;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.plyr__volume {
    align-items: center;
    display: flex;
    max-width: 110px;
    min-width: 80px;
    position: relative;
    width: 20%;
}
.plyr__controls .plyr__controls__item {
    margin-left: 2.5px;
    margin-left: calc(var(--plyr-control-spacing,10px)/4);
}
#myplayer .plyr--audio .plyr__controls .plyr__volume {
    min-width: 40px;
    margin-right: -5px;
    color: #fff;
}
.plyr audio, .plyr iframe, .plyr video {
    /*display: none;*/
    display: block;
    height: 100%;
    width: 100%;
}
.plyr--full-ui *, .plyr--full-ui :after, .plyr--full-ui :before {
    box-sizing: inherit;
}
.plyr__controls {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.plyr--audio .plyr__controls {
    background: #fff;
    background: var(--plyr-audio-controls-background,#fff);
    border-radius: inherit;
    color: #4a5464;
    color: var(--plyr-audio-control-color,#4a5464);
    padding: 10px;
    padding: var(--plyr-control-spacing,10px);
}
#myplayer .plyr--audio .plyr__controls {
    width: auto;
    height: auto;
    padding: 5px 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 16%);
    border-radius: 10px;
    background: #6bc610;
}
.plyr {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    align-items: center;
    direction: ltr;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-family: var(--plyr-font-family,inherit);
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    font-weight: 400;
    font-weight: var(--plyr-font-weight-regular,400);
    height: 100%;
    line-height: 1.7;
    line-height: var(--plyr-line-height,1.7);
    max-width: 100%;
    min-width: 200px;
    position: relative;
    text-shadow: none;
    transition: box-shadow .3s ease;
    z-index: 0;
}
.plyr--full-ui {
    box-sizing: border-box;
}
.plyr--audio {
    display: block;
}
#myplayer .plyr {
    min-width: 60px;
}
.plyr button {
    font: inherit;
    line-height: inherit;
    width: auto;
}
.plyr__sr-only {
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    border: 0!important;
    height: 1px!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}
.plyr__sr-only {
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    border: 0!important;
    height: 1px!important;
    padding: 0!important;
    position: absolute!important;
    width: 1px!important;
}
.plyr__control.plyr__control--pressed .icon--not-pressed, .plyr__control.plyr__control--pressed .label--not-pressed, .plyr__control:not(.plyr__control--pressed) .icon--pressed, .plyr__control:not(.plyr__control--pressed) .label--pressed, a.plyr__control:after, a.plyr__control:before {
    display: none;
}
.plyr__control svg {
	position: absolute;
    display: block;
    fill: currentColor;
    height: 18px;
    height: var(--plyr-control-icon-size,18px);
    pointer-events: none;
    width: 18px;
    width: var(--plyr-control-icon-size,18px);
}
.plyr__control {
	display: flex;
	align-items: center;
    background: 0 0;
    border: 0;
    border-radius: 3px;
    border-radius: var(--plyr-control-radius,3px);
    color: inherit;
    cursor: pointer;
    flex-shrink: 0;
    overflow: visible;
    padding: 7px;
    width: 18px;
    height: 27px;
    padding: calc(var(--plyr-control-spacing,10px)*0.7);
    position: relative;
    transition: all .3s ease;
}
.plyr--full-ui a, .plyr--full-ui button, .plyr--full-ui input, .plyr--full-ui label {
    touch-action: manipulation;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.show{
	visibility: visible;
	opacity: 1;
	transition: all 300ms;
}
.hide{
	visibility: hidden;
	opacity: 0;
	transition: all 300ms;
}

.ornamen{
	width: 200px;
	margin: 0 auto;
}
.btn-map{
	padding: 5px;
	color: white;
	width: 50%;
	margin: 5px;
	border-radius: 5px;
	font-size: 9pt;
	font-weight: 600;
	cursor: pointer;
}
.couple-detail.judul-theme{
    font-size: 18pt !important;
    font-weight: 600 !important;
}
.title-selection, .judul-theme {
    opacity: .7;
}
#myplayer{
    cursor: pointer;
}
.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    will-change: transform;
    transform: translateZ(0);
    display: flex;
    height: 75px;
    box-shadow: rgb(108 114 124 / 16%) 0 -2px 4px 0;
    background-color: #FDF6F5;
}
.mobile-bottom-nav__item {
    flex-grow: 1;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(66, 66, 80);
    flex-basis: 33.33333333%;
}
.mobile-bottom-nav__item-content {
    display: flex;
    flex-direction: column;
}
.timeline:after {
    content: '';
    position: absolute;
    height: 100%;
    left: 50%;
    width: 4px;
    top: -20px;
    background: #d6d6d6;
    z-index: 1;
}
.timeline:before {
    content: '';
    position: absolute;
    left: calc(50% - 8px);
    height: 20px;
    width: 20px;
    top: -35px;
    background: #d6d6d6;
    z-index: 1;
    border-radius: 50%;
}

.timeline {
    position: relative;
    margin: 50px auto;
    width: 1000px;
    padding: 50px 0;
    padding-bottom: 0;
    margin-bottom: 0;
}


.timeline ul {
    margin: 0;
    padding: 0;
}

.timeline ul li {
    list-style: none;
    box-sizing: border-box;
    line-height: normal;
    position: relative;
    width: 50%;
}
.timeline ul li:nth-child(odd){
    padding: 5px 70px 40px 0px;
}
.timeline ul li:nth-child(even){
    padding: 5px 0px 40px 70px;
}

.timeline ul li .right_content h2 {
    color: rgba(59, 112, 239, 1);
    padding: 0px 2px 18px 0px;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: left;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: left;
    text-align: left;
    clear: both;
}
.right_content{
    position: relative;
    padding: .85em;
    background-color: #fff9ed;
    border-radius: 6px;
    box-shadow: 0 2px 8px -2px rgb(0 0 0 / 30%);
}
.right_img img{
    height: auto;
    max-width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: left;
    padding: 0 5px 1rem 0;
}

.timeline ul li:nth-child(odd) .right_content{
    border: 1px solid rgba(0,0,0,.05);
    border-right-color: #113468;
}
.timeline ul li:nth-child(odd) .right_content::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    left: 0;
    top: 14px;
    margin-left: -9px;
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: -9px;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(
    180deg
    );
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    border-color: transparent #e9662c transparent transparent;
    border-right-color: #113468;
}
.timeline ul li:nth-child(even) .right_content{
    border: 1px solid rgba(0,0,0,.05);
    border-left-color: #113468;
}
.timeline ul li:nth-child(even) .right_content::after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    left: 0;
    top: 14px;
    margin-left: -9px;
    border-color: transparent #e9662c transparent transparent;
    border-right-color: #113468;
}

.left_content {
    padding-bottom: 20px;
}

.left_content h5 {
    margin: 0;
}

.timeline ul li:nth-child(odd):before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: '\f004';
    position: absolute;
    width: 48px;
    height: 48px;
    background: rgba(59, 112, 239, 1);
    border-radius: 50%;
    /* box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2); */
    border: 4px solid #d6d6d6;
    right: -26px;
    top: 4px;
    z-index: 2;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.timeline ul li:nth-child(even):before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: '\f004';
    position: absolute;
    width: 48px;
    height: 48px;
    background: rgba(59, 112, 239, 1);
    border-radius: 50%;
    /* box-shadow: 0 0 0 3px rgba(58, 112, 239, 0.2); */
    border: 4px solid #d6d6d6;
    left: -22px;
    top: 4px;
    z-index: 2;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.timeline ul li:nth-child(odd) .left_content {
    position: absolute;
    top: 8px;
    right: -200px;
    margin: 0;
    padding: 8px 16px;

    color: #000000;
    /* box-shadow: 0 0 0 3px rgba(59, 112, 239, 0.3); */
    border-radius: 18px;

}

.timeline ul li:nth-child(even) .left_content {
    position: absolute;
    top: 9px;
    left: -210px;
    margin: 0;
    padding: 8px 16px;

    color: #000000;
    /* box-shadow: 0 0 0 3px rgba(59, 112, 239, 0.3); */
    border-radius: 18px;

}
.timeline {
    width: 100%;
}
.elementor-4387 .elementor-element.elementor-element-b453813 > .elementor-element-populated {
    padding-bottom: 0px !important;
}

.timeline:before {
    left: -8px;
}
.timeline:after{
    left: 0;
}
.timeline ul li:nth-child(odd),
.timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 35px;
    padding-right: 7px;
    padding-bottom: 72px;
}

.timeline ul li:nth-child(odd):before,
.timeline ul li:nth-child(even):before {
    top: 6px;
    left: -22px;
}

.timeline ul li:nth-child(odd) .left_content,
.timeline ul li:nth-child(even) .left_content {
    top: -50px;
    left: 22px;
    right: inherit;
}

.timeline ul li .right_content p{
    text-align: center;
}

.timeline ul li:nth-child(odd) .right_content {
    border-left-color: #113468;
    border-right-color: transparent;
}

.timeline ul li:nth-child(odd) .right_content::after {
    left: 0;
    margin-left: -9px;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(
    0deg
    );
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    border-left-color: #113468;
}
#welcome p{
    font-size: 13pt;
    font-weight: 500;
    color:black;
    padding: 0;
    padding-bottom: 20px;
}
.video iframe{
    width: 100% !important;
    height: 200px !important;
}
.copyright{
    margin-bottom: 76px;
    background-color: black;
    padding: 7px 0;
    display:flex;
    justify-content: center;
}
.copyright a{
    color:white;
    text-decoration: none;
    font-weight: 600;
    transition: all .300s;
}
.copyright a:hover{
    color:#ccc;
    transition: all .300s;
}
@media only screen and (min-width: 1980px){
    .leftPanel .wrapper{
        transform: scale(3);
    }
}
@media only screen and (min-width: 992px){
    /* .leftPanel .wrapper{
        transform: scale(3);
    } */
    .copyright{
        width: 39%;
        float: right;
    }
}
@media (max-width: 1000px) {
    .timeline {
        width: 100%;
        margin-left: 24px;
    }
    .timeline{
       width: calc(100% - 42px);
    }
    /* .timeline ul li:nth-child(odd){
        padding: 5px 50px 40px 0px;
    }
    .timeline ul li:nth-child(even){
        padding: 5px 0px 40px 50px;
    }
    .right_content h5{} */
}
@media (max-width: 767px) {

}

.circle {
    width:128px;
    height:128px;
    background:#da587f;
    border-radius:50%;
    left:-2px;right:0;
    position:relative;
    top:21px;
    bottom:0;
    margin:0 auto;
    margin-top:-64px;
    cursor: pointer;
    transform: scale(0.4);
}
  
i.gift {
    background: #fcbe64; /* Old browsers */
    background: -moz-linear-gradient(left,  #fcbe64 0%, #fcbe64 42%, #f9b14a 42%, #f9b14a 60%, #fcbe64 60%, #fcbe64 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fcbe64), color-stop(42%,#fcbe64), color-stop(42%,#f9b14a), color-stop(60%,#f9b14a), color-stop(60%,#fcbe64), color-stop(100%,#fcbe64)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #fcbe64 0%,#fcbe64 42%,#f9b14a 42%,#f9b14a 60%,#fcbe64 60%,#fcbe64 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #fcbe64 0%,#fcbe64 42%,#f9b14a 42%,#f9b14a 60%,#fcbe64 60%,#fcbe64 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #fcbe64 0%,#fcbe64 42%,#f9b14a 42%,#f9b14a 60%,#fcbe64 60%,#fcbe64 100%); /* IE10+ */
    background: linear-gradient(to right,  #fcbe64 0%,#fcbe64 42%,#f9b14a 42%,#f9b14a 60%,#fcbe64 60%,#fcbe64 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcbe64', endColorstr='#fcbe64',GradientType=1 ); /* IE6-9 */
    width:70px;
    height:45px;
    display:inline-block;
    border-radius:0px 0px 5px 5px;
    margin:0 auto;right:0;left:0;
    position:absolute;
    top:55px;
    z-index:20;
    animation-name: elastic;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
}

@keyframes elastic {
    0%{
      transform: scale(1);
    }
    30%{
      transform: scaleX(1.25) scaleY(0.75);
    }
    40%{
      transform: scaleX(0.75) scaleY(1.25);
    }
    60%{
      transform: scaleX(1.15) scaleY(0.85);
    }
    100%{
      transform: scale(1);
    }
}

  i.gift:before {
    width:78px;
    height:11px;
    content:"";
    background: #fbb54f; /* Old browsers */
  background: -moz-linear-gradient(left,  #fbb54f 0%, #fbb54f 30%, #f9b14a 30%, #f9b14a 70%, #fbb54f 70%, #fbb54f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fbb54f), color-stop(30%,#fbb54f), color-stop(30%,#f9b14a), color-stop(70%,#f9b14a), color-stop(70%,#fbb54f), color-stop(100%,#fbb54f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #fbb54f 0%,#fbb54f 30%,#f9b14a 30%,#f9b14a 70%,#fbb54f 70%,#fbb54f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #fbb54f 0%,#fbb54f 30%,#f9b14a 30%,#f9b14a 70%,#fbb54f 70%,#fbb54f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #fbb54f 0%,#fbb54f 30%,#f9b14a 30%,#f9b14a 70%,#fbb54f 70%,#fbb54f 100%); /* IE10+ */
  background: linear-gradient(to right,  #fbb54f 0%,#fbb54f 30%,#f9b14a 30%,#f9b14a 70%,#fbb54f 70%,#fbb54f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb54f', endColorstr='#fbb54f',GradientType=1 ); /* IE6-9 */
  
    display:inline-block;
    position:relative;
    left:-4px;
    top:-13px;
    z-index:20;
  }
  
  i.gift:after {
    width:12px;
    height:5px;
    content:"";
    background:#fba152;
    display:inline-block;
    left:30px;
    position:absolute;
    top:0px;z-index:30;
  }
  
  i.ribbons:after {
    width:8px;
    height:15px;
    background:transparent;
    border:5px solid white;
    display:inline-block;
    position:absolute;
    top:-23px;
    right:18px;
    z-index:999;
    content:"";
    border-radius:50px;
    transform:rotate(40deg);
    -ms-transform:rotate(40deg); /* IE 9 */
    -webkit-transform:rotate(40deg); /* Safari and Chrome */
    z-index:5;
  }
  
  i.ribbons:before {
  width: 20px;
  height: 8px;
  background: transparent;
  border: 5px solid white;
  display: inline-block;
  position: absolute;
  top: -23px;
  left: 10px;
  z-index: 999;
  content: "";
  border-radius: 10px;
  transform: rotate(-130deg);
  -ms-transform: rotate(-130deg);
  -webkit-transform: rotate(-130deg);
  z-index: 5;
  }
